<appSettings>
  <add key="EvenSmsProvider.Url" value="http://www.provider1.com/sendSms" />
  <add key="EvenSmsProvider.CompanyId" value="123" />
  <add key="EvenSmsProvider.Password" value="goodPassword" />
  <add key="OddSmsProvider.Url" value="Http://www.provider2.com/sendSms" />
  <add key="OddSmsProvider.Username" value="ummtest@umm.com" />
  <add key="OddSmsProvider.Password" value="greatPassword" />
  <add key="SmsProvider.CallbackUrl" value="http://localhost:62556/finalstatus" />
</appSettings>